.browse__container {
    margin-top: 4em;
}
.browse__div {
    height: 70vh;
    width: 60vw;
    margin: 4em 10em;
    background: rgba(245, 245, 245, 0.521);
    text-align: left;
    list-style-type: none;
    border: 2px whitesmoke solid;
    color: rgba(0, 139, 139, 0.842);
    background: rgba(245, 245, 245, 0.75);
    overflow-y: scroll;
}
h2 {
    text-align: center;
    color: rgba(0, 139, 139, 0.842);
}
p {
    color: rgb(90, 90, 90);
    text-align: center;
}
p a {
    color: rgba(0, 139, 139, 0.842);
    text-decoration: underline;
    text-align: center;
}

.browse__ul {
    list-style-type: none;
}
.browse__ul a {
    color: rgb(90, 90, 90);
}