.nav__container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
    color: rgba(0, 139, 139, 0.842);
    background: rgba(245, 245, 245, 0.75);
}


/* reference for CSS Animations https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.nav__h1{
  grid-row: 1;
  grid-column: 1;
  font-size: 2em;
  font-family: 'Syncopate', sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
 .nav__hamburger {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center; 
  justify-content:flex-end; 
}
    
.nav__button {
  color: #008b8b;
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 10;
}

.nav__menuNav {
  overflow-y: scroll;
  text-align: left;
  list-style: none;
  position: fixed;
  margin-top: 0em;
  word-wrap: normal;
  /* top: 0; */
  background: rgba(245, 245, 245, 1);
  bottom: 0;
  height: 0vh;
  overflow: hidden;
  max-width: 150px;

}

.nav__menuNav.nav__showMenu {
  height: 100vh;
  width: 30%;
  color: rgba(0, 139, 139, 0.75);  
}

a {
  margin-left: 0em;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: rgba(0, 139, 139, 0.75);
  font-weight: bold;
}

.nav__menuNav li:first-child {
  margin-top: 7rem;
}


@media (max-width: 500px) {

  .nav__container{
    background: rgba(71, 71, 71, 0.75);

  }
  .nav__menuNav {
    background: rgba(71, 71, 71, 0.75);
  }

  .nav__menuNav.nav__showMenu {
    background: rgba(71, 71, 71, 0.75);
  }

}