.nav__container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
}

.nav__h1{
    grid-row: 1;
    grid-column: 1;
    font-size: 2em;
}

 .nav__hamburger {
    grid-row: 1;
    grid-column: 2;
}

.nav__button {
  position: absolute;
  right: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 10;
}

.nav__menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  margin-top: 0em;
  word-wrap: normal;
  top: 0;
  background: rgba(0, 139, 139, 0.295);
  right: 0;
  bottom: 0;
  height: 0vh;
  overflow: hidden;
  max-width: 150px;

}

.nav__menuNav.nav__showMenu {
  height: 100vh;
  width: 30%;
}

a {
margin-left: 0em;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
}

.nav__menuNav li:first-child {
  margin-top: 7rem;
}