.signup__container{
    margin-top: 4em;
}
.signup__div {
	background: rgba(245, 245, 245, 0.75);
	height: 50vh;
	width: 60vw;
	margin: auto;
	border-radius: 10%;
	border: 2px whitesmoke solid;
	color: rgba(0, 139, 139, 0.842);
}
h2 {
	padding-top: 1em;
	/* margin: auto; */
}
.signup__form {
	/* margin: auto; */
	padding-top: 1em;
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-direction: column;
}

.signup__field {
	padding: 0.5em;
	align-items: center;
}

label {
	padding-right: 2em;
	text-align: left;
}
input {
	font-family: 'Questrial', sans-serif;
}
.signup__btn {
	background-color: transparent;
	border: none;
	color: rgba(0, 139, 139, 0.842);
	font-size: large;
	font-family: 'Questrial', sans-serif;
	padding-top: 2em;
	font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 500px) {
.signup__div { 
  background: rgba(71, 71, 71, 0.75);
  color: whitesmoke;
  text-align: center;
}

.signup__btn {
    color: whitesmoke;
}

}