.app__container{
  text-align: center;
}
body {
  font-family: 'Questrial', sans-serif;
  background-image: url('./background2.png');
  color: antiquewhite;
  background-position: cover;
  background-repeat: no-repeat;
}
