.App {
  text-align: center;
}
body {
  font-family: 'Questrial', sans-serif;
  background-image: url('./background2.png');
  color: antiquewhite;
  background-position: cover;
  background-repeat: no-repeat;

}
a {

}
h1 {
  font-family: 'Syncopate', sans-serif;

}